In [0]:
%sql
CREATE OR REPLACE VIEW movie.movie_gold.movie_release_year_frequency AS
SELECT 
  release_year, 
  COUNT(release_year) AS count 
FROM 
  movie.movie_silver.movie_data_transaction 
GROUP BY 
  release_year;

In [0]:
%sql
CREATE OR REPLACE VIEW movie.movie_gold.movie_genre_frequency AS
SELECT 
  A.genre_id, 
  B.Genre AS genre_name, 
  COUNT(A.genre_id) AS genre_count
FROM 
  movie.movie_silver.movie_data_transaction A
LEFT JOIN 
  movie.movie_silver.movie_genre_master B
ON 
  A.genre_id = B.Genre_id
GROUP BY 
  A.genre_id, B.Genre

In [0]:
%sql
CREATE OR REPLACE VIEW movie.movie_gold.movie_rating_frequency AS
SELECT 
  rating, 
  COUNT(rating) 
FROM 
  movie.movie_silver.movie_data_transaction 
GROUP BY 
  rating

In [0]:
%sql 
CREATE OR REPLACE VIEW movie.movie_gold.movie_platform_frequency AS
SELECT A.platform_id, B.platform_name, COUNT(A.platform_id) as count FROM 
    movie.movie_silver.movie_data_transaction A
LEFT JOIN 
  movie.movie_silver.movie_platform_master B
ON
 A.platform_id = B.platform_id
 GROUP BY A.platform_id, B.platform_name

In [0]:
%sql
CREATE OR REPLACE VIEW movie.movie_gold.movie_review_rating_imdb AS
SELECT movie_id,movie_title, IMDb_rating FROM movie.movie_silver.movie_data_transaction WHERE try_cast(IMDb_rating AS FLOAT) > 0

In [0]:
%sql
CREATE OR REPLACE VIEW movie.movie_gold.movie_review_rating_rotten_tomatoes AS
SELECT movie_id,movie_title, Rotten_Tomatoes_rating FROM movie.movie_silver.movie_data_transaction WHERE try_cast(Rotten_Tomatoes_rating AS FLOAT) > 0

In [0]:
%sql
CREATE OR REPLACE VIEW movie.movie_gold.movie_review_rating_netflix AS
SELECT A.platform_id, B.platform_name, A.IMDb_rating, A.Rotten_Tomatoes_rating FROM 
    movie.movie_silver.movie_data_transaction A
LEFT JOIN 
  movie.movie_silver.movie_platform_master B
ON
 A.platform_id = B.platform_id
WHERE
 A.platform_id = 'P001'
 AND try_cast(A.IMDb_rating AS FLOAT) > 0
 AND try_cast(A.Rotten_Tomatoes_rating AS FLOAT) > 0

In [0]:
%sql
CREATE OR REPLACE VIEW movie.movie_gold.movie_review_rating_amazon_prime AS
SELECT A.platform_id, B.platform_name, A.IMDb_rating, A.Rotten_Tomatoes_rating FROM 
    movie.movie_silver.movie_data_transaction A
LEFT JOIN 
  movie.movie_silver.movie_platform_master B
ON
 A.platform_id = B.platform_id
WHERE
 A.platform_id = 'P002'
 AND try_cast(A.IMDb_rating AS FLOAT) > 0
 AND try_cast(A.Rotten_Tomatoes_rating AS FLOAT) > 0

In [0]:
%sql
CREATE OR REPLACE VIEW movie.movie_gold.movie_genre_distribution_netflix AS
SELECT 
  A.genre_id, 
  B.Genre AS genre_name, 
  COUNT(A.genre_id) AS genre_count
FROM 
  movie.movie_silver.movie_data_transaction A
LEFT JOIN 
  movie.movie_silver.movie_genre_master B
ON 
  A.genre_id = B.Genre_id
WHERE A.platform_id='P001'
GROUP BY 
  A.genre_id, B.Genre

In [0]:
%sql
CREATE OR REPLACE VIEW movie.movie_gold.movie_genre_distribution_amazon_prime AS
SELECT 
  A.genre_id, 
  B.Genre AS genre_name, 
  COUNT(A.genre_id) AS genre_count
FROM 
  movie.movie_silver.movie_data_transaction A
LEFT JOIN 
  movie.movie_silver.movie_genre_master B
ON 
  A.genre_id = B.Genre_id
WHERE A.platform_id='P002'
GROUP BY 
  A.genre_id, B.Genre

In [0]:
%sql
CREATE OR REPLACE VIEW movie.movie_gold.movie_release_year_frequency_netflix AS
SELECT 
  release_year, 
  COUNT(release_year) AS count 
FROM 
  movie.movie_silver.movie_data_transaction 
WHERE
  platform_id='P001'
GROUP BY 
  release_year;

In [0]:
%sql
CREATE OR REPLACE VIEW movie.movie_gold.movie_release_year_frequency_amazon_prime AS
SELECT 
  release_year, 
  COUNT(release_year) AS count 
FROM 
  movie.movie_silver.movie_data_transaction 
WHERE
  platform_id='P002'
GROUP BY 
  release_year;

In [0]:
%sql
CREATE OR REPLACE VIEW movie.movie_gold.movie_genre_rating_netflix AS
SELECT
  A.Genre_id,
  B.Genre,
  AVG(A.IMDb_rating) AS avg_IMDb_rating,
  AVG(A.Rotten_Tomatoes_rating) AS avg_Rotten_Tomatoes_rating
  FROM
  movie.movie_silver.movie_data_transaction A
LEFT JOIN 
  movie.movie_silver.movie_genre_master B
ON 
  A.genre_id = B.Genre_id
WHERE A.platform_id='P001'
GROUP BY 
  A.genre_id, B.Genre

In [0]:
%sql
CREATE OR REPLACE VIEW movie.movie_gold.movie_genre_rating_amazon_prime AS
SELECT
  A.Genre_id,
  B.Genre,
  AVG(A.IMDb_rating) AS avg_IMDb_rating,
  AVG(A.Rotten_Tomatoes_rating) AS avg_Rotten_Tomatoes_rating
  FROM
  movie.movie_silver.movie_data_transaction A
LEFT JOIN 
  movie.movie_silver.movie_genre_master B
ON 
  A.genre_id = B.Genre_id
WHERE A.platform_id='P002'
GROUP BY 
  A.genre_id, B.Genre